 {% extends 'frontend/base.html' %} {% block title %}Home{% endblock %} {% block content %}

<section>
    <article class="side">
        <div class="blog-content">
            <div class="blog">
                <img src="static/img/am.png" alt="" width="auto" height="auto">
                <h3><a href="#">การส่งสัญญาณวิทยุกระจายเสียง ระบบ AM (Amplitude Modulation) AM ย่อมาจาก Amplitude Modulation</a></h3>

            </div>
            <div class="blog">
                <img src="static/img/fm.png" alt="" width="auto" height="auto">
                <h3><a href="#">การส่งสัญญาณวิทยุกระจายเสียง ระบบ FM (Frequency Modulation)</a></h3>

            </div>
            <div class="blog">
                <img src="static/img/digit.png" alt="" width="auto" height="auto">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequa tur saepe odit beatae laudantium, asperiores nesciunt quisquam qui unde pra esentium facere non blanditiis cumque maiores magnam, eum illo officia, aperi am velit modi
                    vitae recusandae porro! Temporibus nesciunt consequatur nemo blan ditiis quia natus iste impedit at laudantium? Tempore ex laboriosam facere exercitationem?</p>
            </div>
            <div class="blog">
                <img src="static/img/am2.png" alt="" width="auto" height="auto">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequa tur saepe odit beatae laudantium, asperiores nesciunt quisquam qui unde pra esentium facere non blanditiis cumque maiores magnam, eum illo officia, aperi am velit modi
                    vitae recusandae porro! Temporibus nesciunt consequatur nemo blan ditiis quia natus iste impedit at laudantium? Tempore ex laboriosam facere exercitationem?</p>
            </div>


        </div>


    </article>
    <aside class="side">
        <div class="list">
            <h3>List of content</h3>
            <div class="link-list">
                <ul>
                    <li><a href="#">list content 1</a></li>
                    <li><a href="#">list content 2</a></li>
                    <li><a href="#">list content 3</a></li>
                    <li><a href="#">list content 4</a></li>
                    <li><a href="#">list content 5</a></li>
                    <li><a href="#">list content 6</a></li>
                    <li><a href="#">list content 7</a></li>
                    <li><a href="#">list content 8</a></li>
                    <li><a href="#">list content 9</a></li>
                </ul>
            </div>
        </div>
    </aside>
</section>
{% endblock %}